<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Über uns</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-users fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wer wir sind</h4>
                    <p class="text-muted">
                        E4F unterstützt die Forderungen von Fridays For Future aus der Wirtschaft heraus.
                        Wir sind somit <b>das</b> Netzwerk für unternehmerisch denkende und handelnde Menschen im Raum Hamburg,
                        die sich für eine lebenswerte Zukunft einsetzen.
                    </p>
                    <p class="text-muted">
                        Für uns beinhaltet dies neben Klimaschutz auch soziale Maßnahmen wie z.B. gute Grundversorgung und Gesundheit
                        für alle Menschen. Wir orientieren uns dabei an den Sustainable Development Goals der Vereinten Nationen.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-sun-o fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Unsere Idee</h4>
                    <p class="text-muted">
                        E4F steht für ein neues Narrativ. Statt „entweder Wirtschaft oder Klima“ sehen wir uns als
                        Ermöglicher, ein gutes Leben für alle zu gestalten, unter Berücksichtigung der planetaren Grenzen.
                    </p>
                    <p class="text-muted">
                        Wir wollen aus der Wirtschaft heraus mit innovativen Produkten und Geschäftsmodellen sowie neuen Formen des
                        Wirtschaftens wie Kreislaufwirtschaft, Kooperation und Gemeinwohlorientierung einen schnelleren Klimaschutz
                        und nachhaltige Entwicklung zum Wohle der Menschheit vorantreiben.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stack-1x fa-compass fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Organisation</h4>
                    <p class="text-muted">
                        E4F Hamburg ist ein informeller Zusammenschluss von Menschen. Wir sind offen für alle – unabhängig von Branche, Bereich oder Hierarchie-Ebene.
                        Unterstützer*innen und Interessent*innen können sich und ihre Themen gleichberechtigt einbringen.
                    </p>
                    <p class="text-muted">
                        Treffen kündigen wir <a href="#portfolio">hier</a> und über meetup.com an. Meldet euch gerne dort an, um informiert zu sein.
                        Folgt uns auf LinkedIn und Twitter für weitere Infos.
                    </p>
                    <p class="text-muted">
                        Orga-Treffen finden regelmäßig 14-tägig statt. Wenn ihr da mal reinschnuppern wollt, <a href="#contact">kontaktiert</a> uns gern.
                    </p>
                </div>
            </div>
        </div>
    </section>